---
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
IndentCaseLabels: false
ColumnLimit: 80
BreakBeforeBraces: Allman

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

AlwaysBreakTemplateDeclarations: true

AllowShortFunctionsOnASingleLine: None
AccessModifierOffset: 0


AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

IndentFunctionDeclarationAfterType: true

SpacesInParentheses: false
SpacesInContainerLiterals: true
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

KeepEmptyLinesAtTheStartOfBlocks: false



